# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env

# FastAPI
*.log

# Node / React
node_modules/
build/
dist/

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Secrets
.env
.env.*

# Misc
*.swp